<p onclick="console.log('*');">
  Aby zapisać się na
  szczepienie wypełnij
  poniższy&nbsp;formularz.<br>
  Testowa linia <span>tekst w spanie</span> <span>tekst w spanie2</span>
  <a href="http://ala.com:80/apka1/index.html?a=5&b=6&c=ala" target="_self">więcej iformacji</a>
</p>

<p>
  Przed szczepieniem musisz byc:
</p>

<ul>
  <li>wyspany</li>
  <li>zdrowy</li>
</ul>

<p>
  Po szczepieniu musisz:
</p>

<ol>
  <li>odczekać 15 minut</li>
  <li>udać się do domu</li>
</ol>



<table border="1" width="100%">
  <caption>Lista dostępnych szczepionek</caption>
  <tbody>
  <tr>
    <th>nazwa</th><th>kraj</th>
  </tr>
  <tr>
    <td>Pfizer</td><td rowspan="2">USA</td>
  </tr>
  <tr>
    <td>Novavax</td>
  </tr>
  </tbody>
</table>

[<a [routerLink]="['/lista']">Lista zapisanych</a>]

[<a [routerLink]="['/formularz']">Formularz zapisów</a>]

<router-outlet></router-outlet>



<p>
  Jezeli masz &lt; 15 lat a Twoja matka 90, możecie zaszczepić się od razu
</p>


